.cabecalho {
    background-color: #444444be;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: justify;
    padding: 24px 0;
    
}

.cabecalho-imagem{
    width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 15px;
    font-size: 24px;
}

.escola-imagem{
    width: 20%;
    
}

.escola{ background-color: #b8b6b6;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.estudante{ background-color: #b8b6b6;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.estudante-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
    align-items: center;
}
.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}
.disciplinas{ background-color: #b8b6b6;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.estudante-cont{
    text-align: center;
    padding: 11px 0;
}